.CardWrap{
    @apply flex justify-center pt-3 flex-col gap-3
    md:gap-4 md:flex-row
    xl:gap-10
}

/* 카드 세로 간격 */
.SpaceCol{
    @apply space-y-3
    md:space-y-5
    xl:space-y-9
}


.Card{
    @apply  flex flex-col border-gray-300 border-2 rounded-xl w-auto py-2 justify-center h-[8rem]
    md:w-[22rem] max-md:h-[7rem] md:py-0
    xl:w-[30rem] xl:h-40 
}

.CardGrid1{
    @apply grid pr-5;
    grid-template-columns: 30% 70%;
}

.CardGrid2{
    @apply grid pl-5;
    grid-template-columns: 70% 30%;
}

@media screen and (max-width:768px) {
    .CardGrid1{grid-template-columns: 25% 75%;}
    .CardGrid2{grid-template-columns: 75% 25%;}
}

/* Img */
.ImgWrap{
    @apply flex items-center justify-center 
}

.Img{
    @apply 
    w-12 h-12
    md:w-16 md:h-16
    xl:w-20 xl:h-20
}

/* Content */
.TextT{
    @apply text-gray-900 font-bold text-[13px]
    md:text-sm
    xl:text-base
}

.TextB{
    @apply text-gray-500 mt-1 text-[13px]
    md:text-[13px] md:mt-1
    xl:text-base xl:mt-2
}