/*#region CardBg */
.pricing:checked + label:before,
.pricing:not(:checked) + label:before {
  content: '';
  background-color: #102770;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
}

.pricing:checked + label:after,
.pricing:not(:checked) + label:after {
  position: absolute;
  content: '';
  z-index: -1;
  background-color: #ffeba7;
  border-radius: 2px;
}

.block-diff {
  display: block;
  mix-blend-mode: difference;
}

/* 버튼을 FlipCardWrap 위에 위치시키기 */
.pricing + label {
  position: absolute;
  z-index: 10;
  top: 20%;
}

.card-3d-wrap {
  perspective: 1000px;
  height: 100vh;
  position: relative;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 700ms 400ms ease-out;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.07);
}
.card-back {
  transform: rotateY(180deg);
}
.pricing:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
  transition: transform 700ms 400ms ease-out;
}
.pricing-wrap {
  position: relative;
  padding-top: 160px;
  width: 100%;
  display: block;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.pricing-wrap h4 {
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 22px;
  line-height: 1.7;
  color: #102770;
  transform: translate3d(0, 0, 35px) perspective(100px);
}
.pricing-wrap h4:before {
  position: absolute;
  content: '';
  z-index: -1;
  background: linear-gradient(217deg, #448ad5, #b8eaf9);
  width: 70px;
  height: 70px;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 6px 20px 0 rgba(16, 39, 112, 0.3);
  animation: border-transform 6s linear infinite;
}
.card-back .pricing-wrap h4:before {
  background: linear-gradient(217deg, #648946, #a3c984);
}

@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}
.img-wrap img {
  width: 100%;
  height: auto;
  display: block;
}

.img-1 {
  position: absolute;
  display: block;
  left: 40%;
  top: 218%;
  z-index: 5;
  width: calc(11%);
  transform: translate3d(0, 0, 45px) perspective(100px);
  opacity: 1;
  pointer-events: auto;
  transition:
    transform 400ms 1200ms ease,
    opacity 400ms 1200ms ease;
}
.pricing:checked ~ .card-3d-wrap .card-3d-wrapper .img-1 {
  opacity: 0;
  transform: translate3d(-50px, 25px, 45px) perspective(100px);
  pointer-events: none;
  transition:
    transform 400ms ease,
    opacity 200ms 150ms ease;
}

.img-2 {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  z-index: 1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
  width: 100%;
  transform: translate3d(0, 0, 15px) perspective(100px);
}
.img-3 {
  position: absolute;
  display: block;
  right: 31%;
  top: 308%;
  z-index: 5;
  width: calc(13%);
  transform: translate3d(0, 0, 55px) perspective(100px) scale(1);
  opacity: 1;
  pointer-events: auto;
  transition:
    transform 300ms 1300ms ease,
    opacity 200ms 1300ms ease;
}

.pricing:checked ~ .card-3d-wrap .card-3d-wrapper .img-3 {
  opacity: 0;
  transform: translate3d(50px, 5px, -55px) perspective(100px) scale(0.4);
  pointer-events: none;
  transition:
    transform 400ms ease,
    opacity 200ms 150ms ease;
}

:root {
  --radius: 280px;
}

.img-4 {
  position: absolute;
  display: block;
  /* left: 18.5%;
  top: 148%; */
  left: calc(40% + var(--radius) * cos(150deg)); /* 예시 각도 */
  top: calc(330% + var(--radius) * tan(150deg));
  z-index: 5;
  width: calc(5%);
  transform: translate3d(0, 0, 45px) perspective(100px) scale(0.5);
  opacity: 0;
  pointer-events: none;
  transition:
    transform 400ms ease,
    opacity 200ms 150ms ease;
}

.pricing:checked ~ .card-3d-wrap .card-3d-wrapper .img-4 {
  opacity: 1;
  pointer-events: auto;
  transform: translate3d(0, 0, 45px) perspective(100px) scale(1);
  transition:
    transform 400ms 1200ms ease,
    opacity 300ms 1200ms ease;
}

.img-5 {
  position: absolute;
  display: block;
  /* right: 55%;
  top: 151%; */
  left: calc(40% + var(--radius) * cos(140deg));
  top: calc(330% + var(--radius) * tan(140deg));
  z-index: 6;
  width: calc(7.3%);
  transform: translate3d(0, 0, 35px) perspective(100px) scale(0.5);
  opacity: 0;
  pointer-events: none;
  transition:
    transform 400ms 100ms ease,
    opacity 200ms 250ms ease;
}
.pricing:checked ~ .card-3d-wrap .card-3d-wrapper .img-5 {
  opacity: 1;
  pointer-events: auto;
  transform: translate3d(0, 0, 35px) perspective(100px) scale(1);
  transition:
    transform 400ms 1300ms ease,
    opacity 300ms 1300ms ease;
}

.img-6 {
  position: absolute;
  display: block;
  right: 50%;
  top: 439%;
  z-index: 5;
  width: calc(8.5%);
  transform: translate3d(0, 0, 25px) perspective(100px) scale(1);
  opacity: 1;
  pointer-events: auto;
  transition:
    transform 300ms 1300ms ease,
    opacity 200ms 1300ms ease;
}

.pricing:checked ~ .card-3d-wrap .card-3d-wrapper .img-6 {
  opacity: 0;
  transform: translate3d(0, 0, 25px) perspective(100px) scale(0.4);
  pointer-events: none;
  transition:
    transform 400ms ease,
    opacity 200ms 150ms ease;
}

.img-7 {
  position: absolute;
  display: block;
  /* right: 66%;
  top: 148%; */
  left: calc(40% + var(--radius) * cos(130deg));
  top: calc(330% + var(--radius) * tan(130deg));
  z-index: 6;
  width: calc(5.1%);
  transform: translate3d(0, 0, 35px) perspective(100px) scale(0.5);
  opacity: 0;
  pointer-events: none;
  transition:
    transform 400ms 100ms ease,
    opacity 200ms 250ms ease;
}
.pricing:checked ~ .card-3d-wrap .card-3d-wrapper .img-7 {
  opacity: 1;
  pointer-events: auto;
  transform: translate3d(0, 0, 35px) perspective(100px) scale(1);
  transition:
    transform 400ms 1300ms ease,
    opacity 300ms 1300ms ease;
}

.img-8 {
  position: absolute;
  display: block;
  /* right: 44%;
  top: 148%; */
  left: calc(40% + var(--radius) * cos(120deg));
  top: calc(330% + var(--radius) * tan(120deg));
  z-index: 6;
  width: calc(5.5%);
  transform: translate3d(0, 0, 35px) perspective(100px) scale(0.5);
  opacity: 0;
  pointer-events: none;
  transition:
    transform 400ms 100ms ease,
    opacity 200ms 250ms ease;
}
.pricing:checked ~ .card-3d-wrap .card-3d-wrapper .img-8 {
  opacity: 1;
  pointer-events: auto;
  transform: translate3d(0, 0, 35px) perspective(100px) scale(1);
  transition:
    transform 400ms 1300ms ease,
    opacity 300ms 1300ms ease;
}

.img-9 {
  position: absolute;
  display: block;
  left: 41%;
  top: 270%;
  width: calc(18%);
  opacity: 1;
  transform: translate3d(0, 0, 45px) scale(0);
  /* 변형 유지 */
  transition:
    opacity 200ms 150ms ease,
    transform 400ms ease;
}

.pricing:checked ~ .card-3d-wrap .card-3d-wrapper .img-9 {
  opacity: 1;
  transform: translate3d(0, 0, 45px) scale(1);
  transition:
    transform 400ms 1300ms ease,
    opacity 300ms 1300ms ease;
}

.img-10 {
  position: absolute;
  display: block;
  /* right: 33%;
  top: 152%; */
  left: calc(50% + var(--radius) * cos(150deg));
  top: calc(50% + var(--radius) * sin(150deg));
  z-index: 6;
  width: calc(5%);
  transform: translate3d(0, 0, 35px) perspective(100px) scale(0.5);
  opacity: 0;
  pointer-events: none;
  transition:
    transform 400ms 100ms ease,
    opacity 200ms 250ms ease;
}
.pricing:checked ~ .card-3d-wrap .card-3d-wrapper .img-10 {
  opacity: 1;
  pointer-events: auto;
  transform: translate3d(0, 0, 35px) perspective(100px) scale(1);
  transition:
    transform 400ms 1300ms ease,
    opacity 300ms 1300ms ease;
}

.img-11 {
  position: absolute;
  display: block;
  /* right: 22%;
  top: 157%; */
  left: calc(50% + var(--radius) * cos(180deg));
  top: calc(50% + var(--radius) * sin(180deg));
  z-index: 8;
  width: calc(5%);
  transform: translate3d(0, 0, 35px) perspective(100px) scale(0.5);
  opacity: 0;
  pointer-events: none;
  transition:
    transform 400ms 100ms ease,
    opacity 200ms 250ms ease;
}
.pricing:checked ~ .card-3d-wrap .card-3d-wrapper .img-11 {
  opacity: 1;
  pointer-events: auto;
  transform: translate3d(0, 0, 35px) perspective(100px) scale(1);
  transition:
    transform 400ms 1300ms ease,
    opacity 300ms 1300ms ease;
}

.img-12 {
  position: absolute;
  display: block;
  /* right: 12%;
  top: 166%; */
  left: calc(50% + var(--radius) * cos(210deg));
  top: calc(50% + var(--radius) * sin(210deg));
  z-index: 6;
  width: calc(5%);
  transform: translate3d(0, 0, 35px) perspective(100px) scale(0.5);
  opacity: 0;
  pointer-events: none;
  transition:
    transform 400ms 100ms ease,
    opacity 200ms 250ms ease;
}
.pricing:checked ~ .card-3d-wrap .card-3d-wrapper .img-12 {
  opacity: 1;
  pointer-events: auto;
  transform: translate3d(0, 0, 35px) perspective(100px) scale(1);
  transition:
    transform 400ms 1300ms ease,
    opacity 300ms 1300ms ease;
}

/* Ai Icon */
.img-13 {
  position: absolute;
  display: block;
  right: 33%;
  top: 442%;
  z-index: 5;
  width: calc(7.3%);
  transform: translate3d(0, 0, 25px) perspective(100px) scale(1);
  opacity: 1;
  pointer-events: auto;
  transition:
    transform 300ms 1300ms ease,
    opacity 200ms 1300ms ease;
}

.pricing:checked ~ .card-3d-wrap .card-3d-wrapper .img-13 {
  opacity: 0;
  transform: translate3d(0, 0, 25px) perspective(100px) scale(0.4);
  pointer-events: none;
  transition:
    transform 400ms ease,
    opacity 200ms 150ms ease;
}
/*#endregion */

.card {
  width: calc(14%);
  display: flex;
  align-items: flex-end;
  perspective: 2500px;
}

.cover-image {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: '';
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.card {
  width: calc(14%);
  display: flex;
  align-items: flex-end;
  perspective: 2500px;
}

.cover-image {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: '';
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: calc(100%);
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  transform: scale(1);
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -45%, 100px) scale(1.5);
}
