@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');


/* Pc 이미지 */
.MainImg{
    @apply 
    bg-[url('https://i.esdrop.com/d/f/KRQCESGJO3/zCsvzlauEY.jpg')]
    xl:bg-[url('https://i.esdrop.com/d/f/KRQCESGJO3/uVe6CWM4Fz.jpg')] 
    /* Mobile */
    bg-contain bg-top bg-no-repeat 
    /* Tablet */
    md:bg-auto md:bg-top 
    /* Pc */
    xl:bg-center xl:bg-contain;
    overflow:hidden;
    height:100%;
}


.TextBoxWrap{
    @apply h-screen w-[100%] m-auto flex flex-col justify-center
    /* Tablet */
    md:flex-row md:space-x-24
    /* PC */
    xl:space-x-[550px]
}

/* TextBox 왼쪽 Designer*/
.TextLWrap{ 
    @apply text-center h-[50%] flex justify-center pt-[130px]
    /* Tablet */
    md:pt-[165px] md:w-[50%] md:justify-end
   /* Pc */
   xl:pt-[217px] 
}

.TextL{
    font-family: 'Poppins', sans-serif;
    @apply text-[#333333] text-[2rem] font-bold
    /* Tablet */
    md:text-[2.5rem]
    /* Pc */
    xl:font-semibold xl:text-[3.4rem] 
}

.TextLWrap dd{
    @apply text-[#757575] text-sm font-light mt-2
    /* Tablet */
    md:text-[0.9rem] md:mt-1
    /* Pc */
    xl:font-[300] xl:text-[1rem] xl:mt-0;
}

/* TextBox 오른쪽 Coder */
.TextRWrap{
    @apply text-center h-[50%] flex justify-center pt-[160px]
    /* Tablet */
    md:pt-[370px] md:h-[100%] md:w-[50%] md:justify-start md:pl-[70px] 
   /* Pc */
   xl:pt-[26%] 
}

.TextR{
    font-family: 'Inter', sans-serif;
    @apply text-[#333333] text-[2rem] font-bold
    /* Tablet */
    md:text-[2.5rem]
    /* Pc */
    xl:text-[3.4rem] xl:font-extrabold
}

.TextRWrap dd{
    @apply  text-[#757575] text-sm font-light text-right 
    /* Tablet */
    md:text-[0.9rem] md:mt-1
    /* Pc */
    xl:font-[300] xl:text-[1rem] xl:mt-0;
}