/* 슬라이드 아이템 */
.ItmWrap {
  @apply m-2 rounded-lg shadow-lg flex flex-col items-center min-w-[200px] min-h-[390px];
}

.ItmTextBox {
  @apply p-6;
}

.ItmTitle {
  @apply mb-2 text-xl font-medium text-gray-900;
}

.ItmContent {
  @apply mb-4 text-sm text-gray-800 whitespace-pre-wrap;
}
/* 사이트바로가기 버튼 */
.ItmBtn {
  @apply px-2 py-2.5  text-white rounded shadow-md font-medium text-xs 
    /* Tablet */
    md:px-5 
    /* Pc */
    xl:px-6;
}

/* 슬라이드 버튼 */
.slick-arrow {
  @apply block;
  border-top: 2px solid white;
  border-left: 2px solid white;
}

/* 화살표 버튼 투명 */
.slick-prev:before,
.slick-next:before {
  color: transparent;
}

/* 다음버튼 */
.slick-next {
  @apply right-[-3.5rem];
  transform: rotate(135deg);
}
/* 이전버튼 */
.slick-prev {
  @apply left-[-3.5rem];
  transform: rotate(-45deg);
}
/* 슬라이드 버튼 위치 */
.slick-slider {
  /* @apply border border-red-900; */
}
/* 도트 위치 */
.slick-dots {
  /* @apply ; */
  /* height: -20px; */
  top: 108%;
}

/* 모든 도트의 색상 변경 */
.slick-dots li button:before {
  /* @apply bg-gray-400; */
  color: #e2dede;
}

/* 선택된 도트의 색상 변경 */
.slick-dots li.slick-active button:before {
  color: white; /* 원하는 색상 코드로 변경 */
}
