
/* 슬라이드 아이템 */
.ItmWrap{
    @apply m-2 rounded-lg shadow-lg flex flex-col items-center min-w-[250px] min-h-[390px]
}

.ItmTextBox{
    @apply p-6
}

.ItmTitle{
    @apply text-gray-900 mb-2 text-xl font-medium 
}

.ItmContent{
    @apply text-gray-800  mb-4 whitespace-pre-wrap text-sm
}
/* 사이트바로가기 버튼 */       
.ItmBtn{
    @apply px-4 py-2.5 bg-black text-white rounded shadow-md font-medium text-xs 
    /* Tablet */
    md:px-5 
    /* Pc */
    xl:px-6 
}

/* 슬라이드 버튼 */
.slick-arrow {
    @apply border;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
 }
/* 다음버튼 */
.slick-next {
    transform: rotate(135deg);
}
/* 이전버튼 */
.slick-prev{
    transform: rotate(-45deg);
}
/* 슬라이드 버튼 위치 */
.slick-slider{
    @apply md:px-4 mx-1
}
/* 도트 위치 */
.slick-dots {
    height: 13px;
}